html {
    font-size: 16px;
}

/* Use media queries para ajustar o tamanho da fonte com base no tamanho da tela */
@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 10px;
    }
}

/* Agora, aplique os estilos para os botões usando rem */


.button_spring:hover {
    background-color: #20A0DF;
    border: 1px solid white;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    color: white;
}

.button_spring{
    padding: 1.2rem;
    width: 20rem;
    font-size: 1.2rem;
    background-color: white;
    border: 1px solid #0176D3;
}

@media screen and (max-width: 1400px){
    .button_spring{
        font-size: 0.9rem ;
        width: 15rem;
    }
}

@media screen and (max-width: 500px){
    .button_spring{
        width: 12rem;
    }
}


.button_spring:hover{
    background-color: #20A0DF;
    border: 1px solid white;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    color: white;

}