@import url("../../index.css");


.container{
    /*display: flex;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 20%;
    margin: 16rem auto 5rem auto;
    justify-content: center;
}

.container h2{
    margin-bottom: 2rem;
    font-size: 2em;
}

title_p, title_h2{
    color: var(--cor-secundaria);
    text-align: center;
}
p{
    text-align: center;
    font-size: 1.6em;
}
@media screen and (max-width: 1300px){
    h2{
        font-size: 1.6em;
    }
    p{
        font-size: 1.4em;
    }
}

