@import url('../../index.css');

header{
    padding: 1rem 0;
    width: 100%;
    height: 3rem;
    background-color: white;
    border-bottom: 0.5px solid gray;
    font-family: "Salesforce Regular";
}
.header_container{
    display: flex;
    margin: 0 7rem;
    flex-direction: row;
    justify-content: left;
    gap: 5rem;
    margin-left: 10rem;
    align-items: center;
    box-sizing: border-box;
}
.header_img{
    width: 5rem;
    margin-left: 0.1rem;
}

.header_ul{
    display: flex;
    gap: 2rem;
}

.header_li{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;

    flex-direction: row;
}

.header_a{
    color: var(--cor-primaria);
    text-decoration: none;
}
.header_li img{
    width: 1.5rem;
}

.liLeft{
    margin-left: -27rem ;
}