@import url("../index.css");

.card_img{
    width: 50%;
}
.container_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.1rem;

}
.paragrafo_card, .h2_card{
    width: 50%;
    padding-left:  1rem;
}
.h2_card{
    font-size: 1.5rem;
}

.paragrafo_card{
    font-size: 1.2rem;
}