
@font-face {
    font-family: "Salesforce Regular";
    src: url("https://db.onlinewebfonts.com/t/0fadaa21fcac88ceee0bb8da992c221b.eot");
    src: url("https://db.onlinewebfonts.com/t/0fadaa21fcac88ceee0bb8da992c221b.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/0fadaa21fcac88ceee0bb8da992c221b.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/0fadaa21fcac88ceee0bb8da992c221b.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/0fadaa21fcac88ceee0bb8da992c221b.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/0fadaa21fcac88ceee0bb8da992c221b.svg#Salesforce Sans")format("svg");
}

@font-face {
    font-family: "Salesforce Sans Bold";
    src: url("https://db.onlinewebfonts.com/t/7ad0546573c86e39ebac906bd70a7198.eot");
    src: url("https://db.onlinewebfonts.com/t/7ad0546573c86e39ebac906bd70a7198.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/7ad0546573c86e39ebac906bd70a7198.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/7ad0546573c86e39ebac906bd70a7198.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/7ad0546573c86e39ebac906bd70a7198.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/7ad0546573c86e39ebac906bd70a7198.svg#Salesforce Sans Bold")format("svg");
}

@font-face {
    font-family: "Salesforce Sans Light";
    src: url("https://db.onlinewebfonts.com/t/508929fcc9e25a992b90af5d639657c9.eot");
    src: url("https://db.onlinewebfonts.com/t/508929fcc9e25a992b90af5d639657c9.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/508929fcc9e25a992b90af5d639657c9.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/508929fcc9e25a992b90af5d639657c9.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/508929fcc9e25a992b90af5d639657c9.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/508929fcc9e25a992b90af5d639657c9.svg#Salesforce Sans Light")format("svg");
}

*{
    font-family: "Salesforce Regular";
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #3498db;
    --cor-secundaria: #032D60;
    --espacamento: 10px;
}

h1, h3, h2, p{
    color: var(--cor-secundaria);
}
button{
    cursor: pointer;
}

html {
    font-size: 16px;
}


@media screen and (max-width: 900px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 780px){
    html{
        font-size: 12px;
    }
}

@media screen and (max-width: 620px){
    html{
        font-size: 10px;
    }
}

@media screen and (max-width: 550px){
    html{
        font-size: 8px;
    }

}



